<style type="text/css" media="all">
html, body
{
	width: 100%;
	height: 100%;
	margin: 0;			/* Remove body margin/padding */
	padding: 0;
	overflow: hidden;	/* Remove scroll bars on browser window */
}
#header { padding: 1em; }

#MainWindow {
	border: 3px solid #669;
	min-width: 500px;	/* Splitter can't be too thin ... */
	min-height: 300px;	/* ... or too flat */
}
#MainWindow .Pane {
	overflow: auto;
	background: #def;
}

#LeftPaneSplitter1 {
	min-width: 300px;
}

#RightPane {
}

#canvas {
	width: 100%;
	height: 100%;
}

/* Splitbar styles; these are the default class names */

.vsplitbar {
	width: 6px;
	background: #669;
}
.vsplitbar:hover, .vsplitbar.active {
	background: #c66;
	opacity: 0.7;
	filter: alpha(opacity=70); /* IE */
}
.hsplitbar {
	height: 6px;
	background: #669;
}
.hsplitbar.active, .hsplitbar:hover {
	background: #c66;
	opacity: 0.7;
	filter: alpha(opacity=70); /* IE */
}

</style>